table {
	border: 2px solid black;
}

td:hover {
	background-color: beige;
	color: bisque;
}

tr, th {
	background-color: yellowgreen;
	color: crimson;
}

tr, td {
	background-color: darkgrey;
	color: white;
}

