/*!Import link for the Josefin slabs font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
/*!Import link for sacrament font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

html{
    overflow-x: hidden; /*!Prevents horizontal scrolling*/
    scroll-behavior: smooth; /*!Smooth scrolling for anchor links*/
}
/*!NAVBAR*/
.nav-bar{
    position: sticky; /*!Creates a sticky element that stays at the top of the page*/
    top: 0; /*!Sets the top position of the sticky element*/
    z-index: 9; /*!Sets the z-index to ensure the element is on top of other elements*/
}


ul{
    display: flex; /*!Sets the display to flex for the list*/
    list-style-type: none; /*!Removes the default list style*/
    align-items: center; /*!Aligns items to the center*/
    margin: -8px -8px 0px -8px; /*!Sets the margin for the list*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188); /*!Sets the background color and border for the list*/
}

a{

  display: block; /*!Sets the display to block for the links*/
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  font-weight: 800;
  color: rgb(247, 177, 188); /*!Sets the font family, size, weight, and color for the links*/
  text-align: center;
  width: 100px;
  padding: 20px;
  text-decoration: none; /*!Removes the underline from the links*/
  transition: background-color 0.3s ease-in; /*!Adds a transition effect for the background color*/
} 

/*!Only-of-type selector is used to select the first child of the parent element*/
a:hover, .drop:hover a:only-of-type{
    background-color: rgb(149, 238, 223)); /*!Changes the background color on hover*/
    color: white; /*!Changes the text color on hover*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7); /*!Adds a shadow effect on hover*/
    transition: background-color 0.3s ease-in; /*!Adds a transition effect for the background color*/
}

.rollover-menu{
    display: none; /*!Hides the rollover menu by default*/
    position: absolute; /*!Sets the position to absolute for the rollover menu*/
    background-color: white; /*!Sets the background color to white*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /*!Adds a shadow effect*/
}

/*!Creates a trigger effect when the user hovers over the drop-down menu*/
.drop:hover .rollover-menu{
    display: block; /*!Displays the rollover menu on hover*/
}
   
.rollover-menu a{
    color: rgb(0, 80, 67); /*!Sets the text color for the rollover menu links*/   
}

.rollover-menu a:hover{
    color: white; /*!Changes the text color on hover*/
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2); /*!Adds a shadow effect on hover*/
}

a:hover{
    background-color: rgb(149, 238, 223); /*!Changes the background color on hover*/
    color: white; /*!Changes the text color on hover*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7); /*!Adds a shadow effect on hover*/
    transition: background-color 0.3s ease-in; /*!Adds a transition effect for the background color*/
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136); /*!Adds a border to the first child of the rollover menu*/
}

/*!FOOTER*/

footer{
    align-items: center; /*!Aligns items to the center*/
    margin: 0px -8px -8px -8px; /*!Sets the margin for the footer*/
    background-color: rgb(1, 128, 106); /*!Sets the background color for the footer*/
    border-top: 5px solid rgb(247, 177, 188); /*!Adds a border to the top of the footer*/
    bottom: 0; /*!Sets the bottom position of the footer*/
}

table{
    width: 100%; /*!Sets the width of the table to 100%*/  
}

td{
    width: 33%; /*!Sets the width of the table cells to 33%*/
}

td p{
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the table cells from google fonts*/
    font-size: 20px; /*!Sets the font size for the table cells*/
    font-weight: 600; /*!Sets the font weight for the table cells*/
    text-align: center; /*!Aligns the text to the center*/
    color: rgb(247, 177, 188); /*!Sets the text color for the table cells*/
}

/*!BODY*/

.container{
    display: inline-block; /*!Sets the display to inline-block for the container*/
    background-size: 100%;
    padding-top: 60px; /*!Sets the padding for the top of the container*/;
    padding-left: 30px; /*!Sets the padding for the left of the container*/
}

/*!HEADER*/

h1{
    font-family: "Sacramento", cursive; /*!Sets the font family for the header from google fonts*/
    font-size: 80px; /*!Sets the font size for the header*/
    color: rgb(0, 80, 67); /*!Sets the text color for the header*/
    text-align: center; /*!Aligns the text to the center*/
}

h2, h3, h4{
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the subheaders from google fonts*/
    text-align: center;
}

h2{
    color:rgb(0, 80, 67); /*!Sets the text color for the subheader*/
    font-size: 60px; /*!Sets the font size for the subheader*/
    text-decoration: underline; /*!Adds an underline to the subheader*/
    text-decoration-color: rgb(247, 177, 188); /*!Sets the color of the underline*/
}

h3{
    font-size: 30px; /*!Sets the font size for the subheader*/
}

h4{
    font-size: 15px; /*!Sets the font size for the subheader*/
    text-decoration: underline; /*!Adds an underline to the subheader*/
    text-transform: uppercase; /*!Transforms the text to uppercase*/
}

/*!PARAGRAPHS*/

p{
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the paragraphs from google fonts*/
    font-size: 20px; /*!Sets the font size for the paragraphs*/
    font-weight: 600; /*!Sets the font weight for the paragraphs*/
    text-align: center; /*!Aligns the text to the center*/
    color: rgb(0, 80, 67); /*!Sets the text color for the paragraphs*/
}

/*!IMAGES*/

.column{
    float: left; /*!Floats the column to the left*/
    width: 48%; /*!Sets the width of the column to 48%*/
    padding: 10px; /*!Sets the padding for the column*/
}

/*!Styling for screens 1200px or smaller*/
@media screen and (max-width: 1200px){
    .column{
        width: 100%; /*!Sets the width of the column to 100% for smaller screens*/
        padding: 0px;
        margin-left: -15px; /*!Sets the left margin for the column*/
    }
}

/*!Specifically styles the first 7 img tad elements contained in the elements with the .column class*/
.column img:nth-child(-n+7){
    width: 500px; /*!Sets the width of the images to 500px*/
    height: 350px; /*!Sets the height of the images to 350px*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.2); /*!Adds a shadow effect to the images*/
}

.recipe-container{
    width: 500px;
    height: 350px;
    margin: 100px auto 180px; /*!Sets the width and height of the recipe container*/
    perspective: 1000px; /*!Sets the perspective for the recipe container*/
}

/*!Styling for mobile size screens*/
@media screen and (max-width: 600px){
    .column img:nth-child(-n+7){
        width: 350px; /*!Sets the width of the recipe container to 100% for smaller screens*/
        height: 225px; /*!Sets the height of the recipe container to auto for smaller screens*/ 
    }

    .recipe-container{
        width: 350px; /*!Sets the width of the recipe container to 100% for smaller screens*/
        height: 225px; /*!Sets the height of the recipe container to auto for smaller screens*/
    }
}

.recipe-card-background{
    background-color: rgb(149, 238, 223); /*!Sets the background color for the recipe card*/    
}

/*!Alternates the blue tile background on smaller screen sizes*/
@media screen and (max-width: 1200px){
    #pork{
        background-color: rgb(255, 255, 255); /*!Sets the background color for the pork recipe card*/
    }
    #biscuits{
        background-color: rgb(149, 238, 223); /*!Sets the background color for the biscuits recipe card*/
    }
}

/*!FEATURED RECIPE*/

/*!Styles the featured recipe h3 tag*/
#featured-header{
    font-family: 'sacramento', cursive; /*!Sets the font family for the featured recipe header from google fonts*/
    font-size: 60px; /*!Sets the font size for the featured recipe header*/
    color: rgb(0, 80, 67); /*!Sets the text color for the featured recipe header*/)
}

#featured-main-text{
    text-align: justify; /*!Justifies the text for the featured recipe main text*/
    padding-top: 20px; /*!Sets the padding for the top of the featured recipe main text*/
    margin-left: 40px; /*!Sets the left margin for the featured recipe main text*/
}

/*!Sets margin left to 0 because it is not needed on smaller screens*/
@media screen and (max-width: 1200px){
    #featured-main-text{
        margin-left: 0px; /*!Sets the left margin for the featured recipe main text*/
    }
}

/*!Specificaly styles the img tag nested within the #featured div class*/
@media screen and (max-min: 1600px){
    #featured img{
        width: 700px; /*!Sets the width of the featured recipe image to 700px*/
        height: auto; /*!Sets the height of the featured recipe image to auto for smaller screens*/
        margin-left: -100px; /*!Sets the left margin for the featured recipe image*/
        margin-top: -20px; /*!Sets the top margin for the featured recipe image*/
    }
}

/*!Adjust the position of the featured image to be centered in its div when the width is 1599px or less*/
@media screen and (max-width: 1599px){
    #featured img{
        margin-left: 0px; /*!Sets the left margin for the featured recipe image*/
        margin-top: 40px; /*!Sets the top margin for the featured recipe image*/
    }
}

@media screen and (max-width: 600px){
    #featured img{
        height: 300px;    
    }
    #featured img{
        margin-top: -65px;
    }
}

#featured-button{
    display:block; /*!Sets the display to block for the featured recipe button*/
    margin: 60px auto 0px; /*!Sets the margin for the featured recipe button*/
    background-color: rgb(1, 128, 106); /*!Sets the background color for the featured recipe button*/
    border-radius: 35px; /*!Sets the border radius for the featured recipe button*/
    border: none; /*!Removes the border from the featured recipe button*/
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the featured recipe button from google fonts*/
    font-size: 30px; /*!Sets the font size for the featured recipe button*/
    font-weight: bold; /*!Sets the font weight for the featured recipe button*/
    padding: 15px 25px;
    color: white;
    cursor: pointer; /*!Sets the text color and cursor for the featured recipe button*/
}

/*!Specifically styles the featured recipe button when hovered*/
#featured-button:hover{
    background-color: rgb(247, 177, 188); /*!Changes the background color on hover*/
}

/*!IMAGE FLIP*/

/*!Styles the image flip container*/
.flip{
    position: relative; /*!Sets the position to relative for the image flip container*/
    width: 100%; /*!Sets the width of the image flip container to 100%*/
    height: 100%; /*!Sets the height of the image flip container to 100%*/
    text-align: center; /*!Aligns the text to the center for the image flip container*/
    transition: 0.5s ease-in-out; /*!Adds a transition effect for the image flip container*/  
    transform-style: preserve-3d; /*!Preserves the 3D effect for the image flip container*/    
}

.flip:hover{
    transform: rotateY(-180deg); /*!Rotates the image flip container on hover*/
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*!Hides the back face of the image flip container*/
}

.flip-back{
    background-color: rgb(149, 238, 223);
    border: 2px solid white;
    transform: rotateY(180deg); /*!Rotates the back face of the image flip container*/
}

.text-container{
    padding-top: 70px; /*!Sets the padding for the top of the text container*/
}

@media screen and (max-width: 600px){
    .text-container{
        padding-top: 0px; /*!Sets the padding for the top of the text container*/
    }
}

/*!RECIPE BUTTON*/

input[type="button"]{
    background-color: #fff;
    border: none;
    border-radius: 20px; /*!Sets the border radius for the recipe button*/
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the recipe button from google fonts*/
    font-weight: bold;
    font-size: 22px; /*!Sets the font size for the recipe button*/
    padding: 11px 17px;
    color: rgb(1, 128, 106); /*!Sets the text color for the recipe button*/
    cursor: pointer; /*!Sets the cursor to pointer for the recipe button*/)
}

input[type="button"]:hover{
    background-color: rgb(247, 177, 188); /*!Changes the background color on hover*/
    color: white; /*!Changes the text color on hover*/
}

/*!CONTACT FORM*/

/*!Styles the contact form*/
#contact{
    display: block; /*!Sets the display to block for the contact form*/
    margin-bottom: 70px; /*!Sets the bottom margin for the contact form*/
}

form{
    display: table; /*!This will display the form in a table format as rows and columns*/
    padding: 15px; /*!Sets the padding for the form*/
    margin-left: auto; /*!Sets the left margin for the form*/
    margin-right: auto; /*!The browser will automatically calculate the right margin*/
}

/*!This will specifically target the input elements within the form*/
form input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165); /*!Sets the font family, size, and color for the input elements*/
    border: 2px solid rgb(165, 165, 165); /*!Sets the border for the input elements*/
    border-radius: 5px; /*!Sets the border radius for the input elements*/
    padding: 3px;
    margin: 10px 15px 10px 0px; /*!Sets the margin for the input elements*/
    transition: 0.3s ease-out; /*!Transitions back to light gray when a user clicks away from an input field*/
}

form input:focus{
    border: 2px solid rgb(1, 128, 106); /*!Changes the border color on focus*/
    color: black;
    outline: none; /*!Removes the outline on focus*/
    transition: 0.3s ease-out; /*!Adds a transition effect for the border color*/
}

label{
    font-family: 'josefin slab', serif; /*!Sets the font family for the labels from google fonts*/
    font-size: 20px; /*!Sets the font size for the labels*/
    font-weight: bold; /*!Sets the font weight for the labels*/
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both; /*!Allows the user to resize the textarea*/
    border: 3px solid rgb(165, 165, 165); /*!Sets the border for the textarea*/
    border-radius: 5px; /*!Sets the border radius for the textarea*/
    font-family: 'Courier New', Courier, monospace; /*!Sets the font family for the textarea*/
    color: rgb(165, 165, 165); /*!Sets the text color for the textarea*/
    font-size: 15px; /*!Sets the font size for the textarea*/
    transition: 0.3s ease-out; /*!Adds a transition effect for the textarea*/
}

textarea:focus{
   color: black;
   border: 3px solid rgb(1, 128, 106); /*!Changes the border color on focus*/
   transition: 0.3s ease-out; /*!Adds a transition effect for the border color*/
   outline: none; /*!Removes the outline on focus*/
}

input[type="submit"]{
    background-color: rgb(1, 128, 106); /*!Sets the background color for the submit button*/
    border: none;
    border-radius: 35px;
    font-family: 'josefin slab', serif; /*!Sets the font family for the submit button from google fonts*/
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff; /*!Sets the text color for the submit button*/
    cursor: pointer; /*!Sets the cursor to pointer for the submit button*/
    float: right; /*!Floats the submit button to the right*/   
}

input[type="submit"]:hover{
    background-color: rgb(247, 177, 188); /*!Changes the background color on hover*/
}

#about{
    display: block; /*!Sets the display to block for the about section*/
    margin-bottom: 70px; /*!Sets the bottom margin for the about section*/
<<<<<<< HEAD
}

/*!RECIPE MODAL*/

.recipe-modal{
    display: none;
    position: fixed; /*!Sets the position to fixed for the recipe modal*/
    top: 0; /*!Sets the top position of the recipe modal*/
    left: 0; /*!Sets the left position of the recipe modal*/
    background-color:  rgba(255, 255, 255, 0.5); /*!Sets the background color for the recipe modal*/
    width: 100%; /*!Sets the width of the recipe modal to 100%*/
    height: 100%; /*!Sets the height of the recipe modal to 100%*/
}

.recipe-content{
    position: relative; /*!Sets the position to relative for the recipe content*/
    background-color: rgb(255, 255, 255); /*!Sets the background color for the recipe content*/
    top: 15vh; /*!Sets the top position of the recipe content*/
    left: 27vw;
    width: 45vw; /*!Sets the width of the recipe content*/
    height: 70%; /*!Sets the height of the recipe content*/
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2); /*!Adds a shadow effect to the recipe content*/
    box-sizing: border-box; /*!Sets the box-sizing to border-box for the recipe content*/
}

.close-btn{
    color: rgb(1, 128, 106); /*!Sets the text color for the close button*/
    font-size: 50px; /*!Sets the font size for the close button*/
    font-weight: 600; /*!Sets the font weight for the close button*/
    cursor: pointer; /*!Sets the cursor to pointer for the close button*/
    float:right; /*!Floats the close button to the right*/
    padding-right: 10px; /*!Sets the right padding for the close button*/
}

.modal-header{
    padding-top: 20px; /*!Sets the padding for the top of the modal header*/
}

.modal-body{
    padding: 20px; /*!Sets the padding for the modal body*/
}

.row{
    display: flex; /*!Sets the display to flex for the row*/
    justify-content: center; /*!Centers the content horizontally in the row*/
}

.rp-column-1{
    width: 33%; /*!Sets the width of the first column in the row to 33%*/
}

.rp-column-2{
    width: 67%; /*!Sets the width of the second column in the row to 67%*/
}

.recipe-list{
    margin-left: -30px;
    font-family: 'Josefin Slab', serif; /*!Sets the font family for the recipe list from google fonts*/
    font-size: 18px;
    display: block; /*!Sets the display to block for the recipe list*/
    border: none; /*! Overrides the border property and value in the ul type selector*/
    background-color: transparent;
    line-height: 1.5;
    text-align: center;
}

.recipe-directions{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}



=======
}
>>>>>>> 6bc2914e8e0583798f1fc18a7487fe5c35501a95
